# 忽略所有以 .log 结尾的文件
*.log

# 忽略虚拟环境
venv/*

# 但不忽略 startvenv.md 文件
!venv/startvenv.md

# 忽略加载的配置文件
配置文件.json

# 忽略说明文件
README.md
Development Process.md
Background and Needs.md
Chinese_Documentation┃操作说明.md

# 忽略LICENSE
LICENSE

# 忽略pycache
__pycache__/

# 忽略vscode自动生成的qrc路径
res_rc.py


